@font-face {
  font-family: title_font;
  src: url("title_font.TTF");
}

@font-face {
  font-family: text_font;
  src: url("text_font.ttf");
}

@keyframes float_modal {
  0% {
    top: 250px;
  }
  50% {
    top: 255px;
  }
}

@keyframes float_init {
  0% {
    top: 150px;
  }
  50% {
    top: 155px;
  }
}

#board {
  background-color: #eeeeee;
  border: 1px solid #111111;
  background-image: url("../images/grass.png");
}

#board td {
  width: 12px;
  height: 12px;
  background-size: 15px;
  background-repeat: no-repeat;
}

td.python_body {
    background-image: url("../images/python_body.png");
    background-size: 14px !important;
}

td.red_egg {
  background-image: url("../images/red_egg.png");
}

td.blue_egg {
  background-image: url("../images/blue_egg.png");
}

h1 {
  text-align: center;
  font-family: title_font;
  font-size: 50px;
  color: #b6ff43;
  text-shadow: 4px 4px #165125;
  margin: 10px 0;
}

h1.my-name {
  text-align: start;
}

h2 {
  color: #f7eb45 !important;
  font-family: text_font;
  font-size: 18px;
  text-align: center;
}

h3 {
  font-family: text_font;
  font-size: 16px;
  color: #ffffff;
  line-height: 25px;
  text-align: center;
}

p {
  font-family: text_font;
  font-size: 12px;
  color: #ffffff;
  line-height: 25px;
  text-align: justify;
  margin: 5px 0;
  font-weight: 600;
}

.game-over,
.init,
.pause {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 250px;
  left: 100px;
  background-color: #4e9c41;
  padding: 20px;
  border: 12px solid #26823e;
  border-radius: 12px;
  transition: height 2s;
  animation: float_modal 1.5s infinite;
}

.game-over {
  width: 400px;
  height: 175px;
}

.game-over h1 {
  color: #f7eb45 !important;
}

.init {
  left: 75px;
  top: 150px;
  width: 435px;
  height: 420px;
  transition: height 2s;
  animation: float_init 1.5s infinite !important;
}

.init span,
.pause span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.init img {
  width: 80px;
  height: 80px;
}

.pause {
  left: 120px;
  width: 350px;
  height: 150px;
}

.pause img {
  width: 50px;
  height: 50px;
}

.points {
  font-family: text_font;
  display: flex;
  width: 644px;
  height: 23px;
  justify-content: center;
  align-items: center;
  background-color: #4e9c41;
  color: #f7eb45;
  line-height: 15px;
  text-shadow: 2px 2px #165125;
}
